<style>

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  .card.card-small {
    height: 16px;
    width: 168px;
    background-color: lightblue;
    cursor: pointer;
  }

  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h2 class="card-container">Student Details</h2>
<div class="card-container" routerLink='/add-student'>
  <div class="card card-small" tabindex="0">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
    </svg>
    <span>Add</span>
  </div>
</div>
<div>
<table>
  <tr>
    <th>Student Name</th>
    <th>Contact Number</th>
    <th>Father Name</th>
    <th>Mother Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>9876543211</td>
    <td>abc</td>
    <td>xyz</td>
    <td>abc@gmail.com</td>
  </tr>
</table>
</div>
<router-outlet></router-outlet>